{% extends 'base.html.twig' %}

{% block title %}Gestion des Catastrophes!{% endblock %}

{% block body %}
<style>
 .btn-outline-primary {
  color: #218c75e1;
  border-color: #218c75e1;
  background: transparent;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #218c75e1;
  border-color: #218c75fd;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  transform: translateY(-1px);
}
</style>

<div class="main-wrapper">
   {% include "partials/_header.html.twig" %}
   
   {% include "partials/_sidebar.html.twig" %}

<div class="page-wrapper mt-4">
  {% if is_granted('ROLE_ADMIN') %}
  {% include "partials/_data_size.html.twig" %}

    {% endif %}
<div class="row mb-5 justify-content-center">
<div class="col-md-11 d-flex m-auto">

   <div class="card col-md">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-10">
                        <div class="card-body">
                          <h5 class="card-title " style="color:#218c75e1">Congratulations  {{app.user.username}} ! 🎉</h5>
                          <p class="mb-4">
                            Vous etes bien connecté veillez cliquez sur le boutton en dessous pour voir les catastrophes publiér
                          </p>

                          <a href="javascript:;" class="btn btn-sm btn-outline-primary">Voir les catastrophes</a>
                        </div>
                      </div>
                      <div class="col-sm-5 text-center text-sm-left">
                        
                      </div>
                    </div>
                  </div>
    
       
     
</div>
</div>
</div>

</div>


{% endblock %}
