<div class="content container-fluid">
<div class="row">
<div class="col-xl-4 col-sm-4 col-12">
<div class="card">
<div class="card-body">
<div class="dash-widget-header">
<span class="dash-widget-icon bg-success-light">
<i class="fas fa-users"></i>
</span>
<div class="dash-count">
<a href="#" class="count-title">Utilisateurs</a>
<a href="#" class="count"><span class="bg-success-light">{{stats.users}}</span></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-sm-4 col-12">
<div class="card">
<div class="card-body">
<div class="dash-widget-header">
<span class="dash-widget-icon bg-warning-light">
<i class="fas fa-newspaper"></i>
</span>
<div class="dash-count">
<a href="#" class="count-title">Catastrophes</a>
<a href="#" class="count"><span class="bg-warning-light">{{stats.catastrophes}}</span></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-sm-4 col-12">
<div class="card">
<div class="card-body">
<div class="dash-widget-header">
<span class="dash-widget-icon bg-primary-light">
<i class="fas fa-comments"></i>
</span>
<div class="dash-count">
<a href="#" class="count-title">Préventions</a>
<a href="#" class="count"><span class="bg-primary-light">{{stats.preventions}}</span></a>
</div>
</div>
</div>
</div>
</div>
</div>