<form method="post" action="{{ path('catastrophes_delete', {'id': catastrophe.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ?Si oui veillez supprimer les images avant');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ catastrophe.id) }}">
    <button class="btn btn-danger btn-sm m-auto" style="">Supprimer le catastrophe</button>
</form>