<form method="post" action="{{ path('app_continent_delete', {'id': c.id}) }}" onsubmit="return confirm('Voulez vous supprimé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">
    <button class="btn btn-sm bg-danger-light mt-2" style="margin-top:5px;"><i class="fas fa-trash"></i></button>
</form>
