{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
<div class="main-wrapper">
   {% include "partials/_header.html.twig" %}
   
   {% include "partials/_sidebar.html.twig" %}

<div class="page-wrapper">
 
<div class="row">
<div class="col-md-10 d-flex m-auto mt-4">

<div class="card card-table flex-fill">
<div class="card-header "style="background-color:#218c71de;color:#fff;">
<h4 class="card-title  text-center">Modifier la Categorie</h4>
</div>
<div class="card-body pb-3">


    {{ include('categorie/_form.html.twig', {'register mt-3': 'Enregistrer'}) }}

    {{ include('categorie/_delete_form.html.twig') }}

</div>
</div>

</div>
</div>
</div>
</div>

</div>


{% endblock %}
