{% extends 'base-pdf.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
<style>
 
</style>

<div class="container">

  <div class="col-md-8 mt-3 m-auto">
      
      hello

       
  </div>
</div>
</div>

{% endblock %}
