{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
<style>
 
</style>

<div class="main-wrapper">
   {% include "partials/_header.html.twig" %}
   
   {% include "partials/_sidebar.html.twig" %}

<div class="page-wrapper mt-4">
 
<div class="row">
<div class="col-md-11 d-flex m-auto">
  <div class="col-md-8 mt-3 m-auto">
    <div class="col-md text-center mt-2">
 <h5 class=" bg-success-light">Nombre de mort enregistrer en fonction de la date </h5>
 </div> <br><br>
      
      {{ render_chart(chart) }}

       
  </div>
</div>
<div class="col-md-11 d-flex m-auto mt-4">
  <div class="col-md-8 mt-3 m-auto">
    <div class="col-md text-center mt-2">
 <h5 class=" bg-success-light">Nombre de catastrophe enregistrer par categorie</h5>
 </div> <br><br>
      
      {{ render_chart(chart1) }}

       
  </div>
</div>
<div class="col-md-11 d-flex m-auto mt-4">
  <div class="col-md-8 mt-3 m-auto">
    <div class="col-md text-center mt-2">
 <h5 class=" bg-success-light">Nombre de catastrophe enregistrer par pays</h5>
 </div> <br><br>
      
      {{ render_chart(chart2) }}

       
  </div>
</div>
<div class="col-md-11 d-flex m-auto mt-4">
  <div class="col-md-6 mt-3 m-auto">
  <div class="col-md text-center mt-2">
 <h5 class=" bg-success-light">Nombre total de mort en fonction des pays</h5>
 </div> <br><br>
      
      {{ render_chart(chart3) }}

       
  </div>
</div>
 
</div>
</div>
</div>
{% endblock %}
